.axisRed {
  /* stroke: yellow; */
  stroke-width: 5px;
}
.graphic {
  flex-basis: 50%;
  height: 300px;
  position: sticky;
  width: 100%;
  top: 100px;
  font-size: 60px;
  align-self: flex-start;
}
.description {
  height: 600px;
  text-align: center;
  padding: 50px 50px;
  font-size: 20px;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.step {
  height: max-content;
  width: 100%;
  margin-bottom: 500px;
  font-size: 25px;
  text-align: center;
  padding: 40px;
  z-index: 10;
}

.Chart__title {
  margin: 20px 0;
  padding: 0;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.trigger {
  border-top: 1px dashed black;
  margin-top: 50vh;
  position: fixed;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .step {
    padding: 10px;
  }
  .step:last-child {
    margin-bottom: 200px;
  }
  .description {
    padding: 100px 250px;
  }
}
