.Header {
  display: flex;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  margin-top: -20px;
  justify-content: center;
  z-index: 10;
}
.logo{
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 20;
  width: 20%;
  height: 20%;
  width: 30%;
}
.slide1{
  position: absolute;
  bottom: 0;
  left: 0;
}
.slide2{
  position: absolute;
  bottom: 0;
  right: 0;
}

.letters{
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 20;
  height: 30%;
  width: 50%;
}
.header_container{
  position: relative;
}
.Header-Img{
    position: relative;
   height: 0px;
   padding-bottom: 50%;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
}
.header_Title {
  position: absolute;
  /* width: 100%; */
  height: 60vh;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.Header_h1 {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 700px) {
    .Header {
        height: 95vh;
    }
    .header_Title{
        height: 80vh;
    }
}

@media screen and (min-width: 600px) {
  .slide1{
    width: 60%;
  }
  .slide2{
    width: 60%;
  }
}
